<footer>
    <div class="webInfo">
        <div class="termCon">
            <div><a href="#">Terms of Uses</a></div>
            <div><a href="#">Contact</a></div>
            <div><a href="#">Site Map</a></div>
            <div><a href="#">Privacy Policy</a></div>
        </div>
        <div class="coypRight">
            &copy; 2023 Website developed and Content Managed by Ajay Prasad Verma.<br />
            Email id : <a href="mailto:apv967@gmail.com">apv967@gmail.com</a>
        </div>
    </div>
</footer>
</body>

</html>