<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header') %>

        <style>
            .sign-container {
                display: flex;
                justify-content: center;
            }

            body {
                background-image: repeating-linear-gradient(90deg, #eee, #eee);
            }

            #container {
                width: 600px;
                margin-top: 5px;
                padding: 37px 30px;
                text-align: center;
                border-radius: 4px;
                background: #fff;
                box-shadow: 0 2px 5px #ccc;
                user-select: none;
            }

            .inp {
                margin: -5px;
            }

            input[type="submit"] {
                border-radius: 10px;
                padding: 8px 13px;
                color: #809db5;
                margin-top: 10px;
                width: 100px;
            }

            input[type=submit] {
                background-color: #04AA6D;
                width: 200px;
                color: #ffffff;
                outline: none;
            }

            input[type=submit]:hover {
                opacity: 0.7;
            }

            a {
                text-decoration: none;
            }

            .form-control {
                font-size: 18px;
            }

            #signup {
                margin-top: 40px;
            }

            @media(max-width:629px) {
                #header {
                    font-size: 30px;
                }

                #container {
                    width: 98%;
                }
            }
        </style>
</head>

<body>

    <div id="header" style="background-color: #3168ba;color: #043785;">
        <img src="./image/c-logo1.png" alt="logo">
        <span>Apna College</span>
    </div>

    <%- include('./partials/navbar') %>

        <div class="sign-container">
            <div id="container" class="">
                <form onsubmit="return handleOnsunmitEvent()" action="/signup" method="post" autocomplete="off">
                    <p id="serror" class="text-danger"
                        style="  padding: 5px 20px; margin-top:-37px; position: relative; border-radius: 5px;">
                        <%= message %>
                    </p>
                    <h2 class="text-warning">STUDENT SIGN UP</h2>
                    <div class="inp form-group">
                        <input type="text" name="name" placeholder="Name" id="name" name="name"
                            class="form-control shadow-none text-info" minlength="" autocomplete="on">
                    </div>

                    <div class="inp form-group">
                        <input type="email" placeholder="Email Id" name="username" inputmode="email" id="email"
                            name="email" class="form-control shadow-none text-info " autocomplete="on">
                    </div>

                    <div class="inp form-group">
                        <input type="text" placeholder="Enter 10digit Mobile No" inputmode="numeric" name="mobile"
                            maxlength="10" id="mobile" class="form-control shadow-none text-info">
                    </div>

                    <div class="inp form-group">
                        <input type="password" placeholder="Password" id="inputPassword" name="password"
                            class="form-control shadow-none text-info" minlength="">
                    </div>

                    <div class="inp form-group">
                        <input type="password" placeholder="Confirm Password" id="cpass"
                            class="form-control shadow-none text-info">
                    </div>
                    <div class="form-status text-info" id="fmsg">
                    </div>
                    <div class="form-status text-success" ;>
                    </div>

                    <div class="form-group">
                        <input type="submit" name="submit" value="Sign Up">
                    </div>
                </form>
                <div id="signup"><a href="/" class="link-info">Login</a></div>
            </div>
        </div>
        <script>
            // handleOnsunmitEvent();

            function isValid() {

                const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                const namePattern = /^[A-Za-z]+(?:\s[A-Za-z]+)*$/;
                const mobilePattern = /^(\+91|0)?[6789]\d{9}$/;

                let Name = document.getElementById("name");
                let Email = document.getElementById("email");
                let Mobile = document.getElementById("mobile");
                let password = document.getElementById("inputPassword");
                let cpassword = document.getElementById("cpass");
                let error = document.getElementById("serror");

                if (Name.value == "" || Email.value == "" || Mobile.value == "" || Mobile.value == "") {
                    error.innerHTML = "All field are required!";
                    error.style.backgroundColor = "#F2DEDE";
                    return false;
                }
                if (!namePattern.test(Name.value) || Name.value.length < 3) {
                    error.innerHTML = "Please enter valid email";
                    error.style.backgroundColor = "#F2DEDE";
                    Name.focus();
                    return false;
                }
                if (!emailPattern.test(Email.value)) {
                    error.innerHTML = "Please enter valid email";
                    error.style.backgroundColor = "#F2DEDE";
                    Email.focus();
                    return false;
                }
                if (!mobilePattern.test(Mobile.value)) {
                    error.innerHTML = "please enter valid mobile no!";
                    error.style.backgroundColor = "#F2DEDE";
                    Mobile.focus();
                    return false;
                }
                if (password.value.length < 8) {
                    error.innerHTML = "Password must be minimum 8 character!";
                    error.style.backgroundColor = "#F2DEDE";
                    password.focus();
                    return false;
                }
                if (password.value != cpassword.value) {
                    error.innerHTML = "Password are not matched!";
                    error.style.backgroundColor = "#F2DEDE";
                    cpassword.focus();
                    return false
                }

                return true;
            }

            function handleOnsunmitEvent() {
                return isValid();
            }
        </script>
        <script src="nav.js"></script>
        <!-- <script src="signup.js"></script> -->
        <%- include('./partials/footer'); %>
</body>

</html>