body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: repeating-linear-gradient(23deg, #eebf6882 5px, #efc57678 1px, white 8px, white 1px);
}

#header {
    display: flex;
    background-color: #3168ba;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Satisfy', cursive;
    color: #043785;
    border-bottom: 1px solid #2f5635;
}

#header img {
    padding: 5px;
    width: 130px;
}

.web-name {
    user-select: none;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Sacramento', cursive;
    font-weight: bolder;
}

.title {
    user-select: none;
}

#disp2 .navbar {
    border-top: 2px groove white;
    border-bottom: 2px groove white;
    height: 42px;
    /* background-color: #25426b; */
    background: #08254b;
}

.p-4 {
    background-color: #25426be4;
}

#disp1 {
    border-top: 1px dotted white;
    /* background-color: #25426b; */
    background: #08254b;
}

.navbar-container {
    display: flex;
    justify-content: flex-start;
    margin-left: -32px;
}

.nav a {
    border-right: 1px solid white;
    padding: 7px 20px;
    text-decoration: none;
}

.nav a:hover {
    background: #073b80;
}

/* .nav-link:hover{
    background: #08254b;
    border: 1px groove white;
} */
.active {
    background: #083878;
}

/* new */
#disp2 {
    background: #08254b;
}

.nav-container {
    margin-left: -32px;
}

.item a {
    width: 100%;
    padding: 5px;
    text-decoration: none;
    border: none;
}

.icon-container {
    height: 38px;
    display: flex;
    align-items: center;
    border-bottom: 1px dotted white;
}

#icon {
    margin-left: 10px;
    cursor: pointer;
    color: white;
}

#navToggle {
    display: none;
}

/* navbar end */

/* image slide start*/
.img-login {
    display: flex;
    margin-top: -20px;
}

.slide-container {
    position: relative;
    width: 74%;
    margin-top: 5px;
}

.slide img {
    width: 100%;
    height: 442px;
}

/* image slide end */

/* Login start */
#container {
    width: 367px;
    margin-top: 5px;
    margin-left: 2px;
    padding: 37px 30px;
    text-align: center;
    background-color: #2f5635;
    color: #f2ebad;
    border-radius: 2px;
    box-shadow: 2px 2px 15px #80808090, -2px -2px 13px #80808090;
    user-select: none;
}

.inp {
    padding: 10px;
}

h2 {
    margin-top: 50px;
}

.log-para {
    margin: 0px;
}

input {
    padding: 8px;
    width: 225px;
    font-size: 16px;
    outline: none;
}

input[type="submit"] {
    border-radius: 7px;
    padding: 8px 13px;
    border: 1px solid #f2ebad;
    color: #f2ebad;
    cursor: pointer;
    margin-top: 10px;
    width: 100px;
    outline: none;
}

input[type="submit"]:hover {
    border: 1px solid #f2ebad;
}

input:focus {
    border-color: #efebc1;
}

a {
    text-decoration: none;
}

#signup {
    margin-top: 60px;
}

#error {
    margin: 0px;
    /* background-color: #F2DEDE; */
    /* background-color: #0d6efd; */
    color: red;
    font-size: 14px;
    padding: 5px 20px;
    margin-top: -37px;
    border-radius: 5px;
}

/* login end */

#greetBorder {
    margin-top: 5px;
    text-align: center;
    border: 1px groove #08619c82;
    box-shadow: 1px 1px 3px gray, -1px -1px 3px gray;
    background-color: steelBlue;
    user-select: none;
}


#greetBorder .grt {
    padding: 3px 0px;
    font-weight: bold;
    color: white;
    font-size: 16px;
}

/* notice section */
.notice-msg {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: #25426be3;
}

.bdr {
    width: 15%;
    text-align: center;
    display: inline-block;
    border: 1px solid gray;
    margin-left: 5px;
    margin-right: 5px;
}

.notice {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff85;
    margin: 0px 10px 0px 10px;
}

.stu-notice {
    margin: 1em;
    background-color: #ffffffde;
    font-weight: bold;
    padding: 20px 40px;
    width: 85vmin;
    border-radius: 5px;
}

.dept-notice {
    margin: 1em;
    width: 85vmin;
    background-color: #ffffffde;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 5px;
}

.board {
    background-color: steelBlue;
    color: white;
    padding-left: 10px;
}

.dept-link {
    font-weight: normal;
    padding-left: 10px;
    border-bottom: 1px solid #afaeac5a;
    padding-bottom: 5px;
}

.dept-link a {
    text-decoration: none;
}

/* notice end */

/* Dashbord start */
.dashbord {
    background-color: #ffffff85;
    padding: 10px 5px;
}

.dash-container {
    display: grid;
    background-color: #ffffffde;
    grid-template-columns: repeat(4, minmax(340px, 1fr));
    grid-column-gap: 3px;
    grid-row-gap: 5px;
    /* margin-top: 10px; */
    padding: 13px 5px;

    justify-items: center;
    font-weight: bold;
    color: #25426be3;
}

@media (max-width: 1368px) {
    .dash-container {
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    }
}

.university {
    text-align: center;
    display: flex;
    align-items: center;
}

.UItem {
    background-color: #5fc2d2;
    padding: 10px 63px;
    font-size: 14px;
    width: 250px;
}

.uicon {
    color: #5fc2d2;
    background-color: #5fc3d2a0;
    margin-left: -10px;
    width: 80px;
}

.Dicon {
    padding: 10px;
    margin-top: 5px;
}

.num {
    font-size: 40px;
    padding: -90px;
    margin: -8px;
}

/* ------------- */
.college-c {
    text-align: center;
    display: flex;
    align-items: center;
}

.UCItem {
    background-color: #1fbdd5;
    padding: 10px 27px;
    font-size: 14px;
    width: 250px;
}

.fa-regular {
    padding: 10px;
    margin-top: 5px;
}

.cicon {
    color: #1fbdd5;
    background-color: #1fbdd59e;
    margin-left: -10px;
    width: 80px;
}

/* ----------- */
.college-A {
    text-align: center;
    display: flex;
    align-items: center;
}

.CAItem {
    background-color: #ff6b6b;
    padding: 10px 36px;
    font-size: 14px;
    width: 250px;
}

.caicon {
    color: #ff6b6b;
    background-color: #ff6b6b9f;
    margin-left: -10px;
    width: 80px;
}

/* ----------------- */
.Reg-User {
    text-align: center;
    display: flex;
    align-items: center;
}

.RUItem {
    background-color: #f27371;
    padding: 10px 37px;
    font-size: 14px;
    width: 250px;
}

.ruicon {
    color: #f27371;
    background-color: #f273719f;
    margin-left: -10px;
}

/* ----------------- */
.Appli-UG {
    text-align: center;
    display: flex;
    align-items: center;
}

.UGItem {
    background-color: #e25c9b;
    padding: 10px 37px;
    font-size: 14px;
    width: 250px;
}

.ugicon {
    color: #e25c9b;
    background-color: #f27371b0;
    margin-left: -10px;
}

/* ----------------- */
.Appli-PG {
    text-align: center;
    display: flex;
    align-items: center;
}

.PGItem {
    background-color: #f9bb3c;
    padding: 10px 37px;
    font-size: 14px;
    width: 250px;
}

.pgicon {
    color: #f9bb3c;
    background-color: #f9ba3cb4;
    margin-left: -10px;
}

/* ----------------- */
.Appli-UGY {
    text-align: center;
    display: flex;
    align-self: center;
}

.UGYItem {
    background-color: #24c290;
    padding: 2px 37px;
    font-size: 14px;
    width: 250px;
}

.ugyicon {
    color: #24c290;
    background-color: #24c290ab;
    margin-left: -10px;
}

/* ----------------- */
.Appli-PGY {
    text-align: center;
    display: flex;
    align-items: center;
}

.PGYItem {
    background-color: #00dcf8;
    font-size: 14px;
    width: 250px;
}

.pgyicon {
    color: #00dcf8;
    background-color: #00dbf8b1;
    margin-left: -10px;
    height: 74px;
}

/* Dashbord end */

/* logo slider start */
.slides {
    border: 1px solid rgb(123, 14, 14);
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.logo {
    width: 110px;
    height: 110px;
    top: 20%;
    position: relative;
    transform: translateY(-50%);
    animation: slide 5s linear infinite;
}

/* @keyframes slide {
    0% {
        left: -100px;
    }

    20% {
        left: 20%;
    }

    100% {
        left: 100%;
    }
} */

/* logo slider end */
/* footer start */
.footer {
    margin-top: auto !important;
    width: 100%;
    text-align: center;
}

.termCon {
    background-color: #ffffff91;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #25426be3;
}

.termCon div {
    margin: 5px 10px;
    font-size: 14px;
}

.termCon div a {
    text-decoration: none;
}

.coypRight {
    background: white;
    font-size: 14px;
    color: #25426be3;
}

.social-container {
    color: #25426be3;
    background: white;
    width: 100%;
    padding-bottom: 25px;
}

/*  social icon start */
.social-icon {
    list-style-type: none;
}

.social-icon {
    text-decoration: none;
    position: relative;
}

.social-icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.social-icon.circle {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 0;
    border-radius: 100%;
    display: inline-block;
    font-size: 1.5em;
    height: 2.25em;
    left: 0;
    line-height: 2.25em;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 2.25em;
}

.social-icon.circle:hover {
    top: -0.2em;
}

.social-icon.circle.fa-twitter {
    background: #55ACEE;
    color: #fff;
}

.social-icon.circle.fa-twitter:hover {
    background: #6baaca;
}

.social-icon.circle.fa-facebook {
    background: #3B5998;
    color: #fff;
}

.social-icon.circle.fa-facebook:hover {
    background: #6e8bc1;
}

.social-icon.circle.fa-instagram {

    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color: #fff;
}

.social-icon.circle.fa-instagram:hover {
    background: radial-gradient(circle farthest-corner at 35% 90%, #f3cf92, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #f3cf92, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #777df4, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #777df4, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #c179f7, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #c179f7, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#777df4, #f460c5 30%, #f66884 50%, #f89568 70%, #f3cf92 100%);
    color: #fff;
}

.social-icon.circle.fa-linkedin {
    background: #007bb5;
    color: #fff;
}


.social-icon.circle.fa-linkedin:hover {
    background: #5391ae;
}

.social-icon.circle.fa-github {
    background: #dcad8b;
    color: #fff;
}

.social-icon.circle.fa-github:hover {
    background: #e1b89b;
}


.social-icon.featured {
    cursor: default;
    display: block;
    margin: 0 0 1.5em 0;
    opacity: 0.35;
    text-align: center;
}

.social-icon.featured:before {
    font-size: 5em;
    line-height: 1em;
}

/* .icon.circle {
        font-size: 1.5em;
    } */

.social-icon>.label {
    display: none;
}

/*  social icon end */

/* footer end */

.error {
    color: #A94442;
}

@media(max-width:500px) {
    #header {
        font-size: 40px;
    }
}

@media(min-width:651px) {
    #disp2 {
        display: none;
    }
}

@media(max-width: 723px) {
    #disp1 {
        display: none;
    }

    #disp2 {
        display: block;
    }

    .slide-container {
        margin: 20px 0px 0px 0px;
        width: 100%;
    }

    .img-login {
        display: block;
    }

    #container {
        width: 100%;
        margin: 0px;
    }

    input {
        width: 60%;
    }

    .notice {
        flex-direction: column;
        padding-top: 5px;
        align-items: center;
    }
}

@media (max-width: 1109px) and (min-width: 650px) {
    .log-para {
        font-size: 14px;
    }
}

@media (max-width: 690px) {
    .dash-container {
        display: block;
        padding: 5px 10px;
    }

    .title {
        margin-top: 10px;
    }

    .item {
        width: 100%;
    }

    .uicon {
        width: 100px;
    }

    .cicon {
        width: 100px;
    }

    .caicon {
        width: 100px;
    }
}