/* body {
    margin: 0px;
    padding: 0px;
    background-image: repeating-linear-gradient(45deg, #eebf6882 3px, #efc57678 1px, white 8px, white 1px);

}

h2 {
    margin: 9px;
}

.user {
    margin-top: 5px;
}



a {
    text-decoration: none;
    color: rgb(118, 118, 118);
}

#signup {
    margin-top: 0px;
}

@media(max-width:629px) {
    #header {
        font-size: 30px;
    }
} */