<%- include('./partials/header'); %>

    <body>
        <%- include('./partials/DashboardNav'); %>
            <h1>College Content</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus numquam veritatis facilis nihil
                dignissimos, debitis aut eum laboriosam alias nemo mollitia officiis iusto quo eos voluptate. Maiores,
                eius. Totam provident culpa, voluptatem ducimus ex molestiae, nesciunt ipsum possimus labore cumque, ab
                adipisci. Perferendis possimus beatae doloribus. Mollitia iste velit delectus aperiam aliquid fugit
                assumenda praesentium, ullam dolores consectetur perspiciatis maxime vitae fuga animi laudantium porro
                atque asperiores nam est laboriosam ab quis tenetur. Aliquid fuga dolor assumenda laborum quibusdam
                iure, voluptates beatae enim ullam quidem nobis deleniti nesciunt reprehenderit fugit exercitationem,
                temporibus nulla consequatur? Culpa repellendus, ut, nisi ducimus soluta unde ipsam quia voluptatum
                delectus hic qui laudantium recusandae nesciunt natus porro quisquam sunt reprehenderit modi sapiente
                corrupti placeat! Ullam veniam dicta adipisci quibusdam non perspiciatis, blanditiis, enim beatae
                debitis saepe doloremque nam natus assumenda animi rerum et tempora in modi inventore delectus deleniti
                minus soluta. Quaerat dolorum commodi quisquam exercitationem neque explicabo ex provident ut voluptate.
                Dolorum ex ab delectus debitis fugit beatae dolore aliquam suscipit magni minima accusamus, doloribus
                consequatur, voluptatem exercitationem! Reprehenderit, repudiandae adipisci architecto eveniet, cumque
                temporibus quibusdam veritatis accusamus animi laboriosam amet eligendi saepe consequatur ipsam officiis
                magni aliquam! Earum nihil recusandae, dicta autem, cum numquam et, adipisci architecto quidem ab ipsum
                repudiandae alias cupiditate unde explicabo officia commodi incidunt. Reprehenderit aliquid optio minus
                eius impedit corrupti aperiam eveniet ducimus quasi omnis doloremque consequuntur esse similique velit
                vero modi ipsam laborum, tenetur pariatur, laudantium accusamus eaque placeat nisi eos. Quas, nesciunt
                id vel mollitia aliquam est asperiores, doloremque quae facilis dolores fugiat adipisci laborum incidunt
                natus. Dolor deleniti numquam delectus dolorem temporibus impedit reiciendis eaque soluta saepe fugiat
                vitae, eius aspernatur facilis animi inventore quae neque quaerat quas nulla! Sapiente soluta nihil
                ullam quis atque, nemo debitis, tenetur voluptas labore qui ad eaque eveniet consectetur?</p>
    </body>

    </html>