<%- include('./partials/header'); %>
    <style>
        body {
            background-image: repeating-linear-gradient(90deg, #eee, #eee);
            font-family: 'Barlow', sans-serif;
        }

        .ftco-section {
            padding: 5em 0;
        }

        .no-gutters {
            margin-right: 0;
            margin-left: 0;
        }

        .form-group {
            margin-bottom: 1rem;
        }

        .no-gutters>.col,
        .no-gutters>[class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        }

        .pl-3,
        .px-3 {
            padding-left: 1rem !important;
        }


        a {
            text-decoration: none;
        }

        a:hover,
        a:focus {
            text-decoration: none !important;
            outline: none !important;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .bg-primary1 {
            background-color: #01d28e !important;
        }


        .heading-section {
            font-size: 28px;
            text-align: center;
            color: #000;
        }

        .wrapper {
            width: 100%;
            -webkit-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
            -moz-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
            box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
        }

        .contact-wrap {
            background: #fff;
        }

        .info-wrap {
            color: rgba(255, 255, 255, 0.8);
        }

        .info-wrap h3 {
            color: #fff;
        }

        .info-wrap .dbox {
            width: 100%;
            color: rgba(255, 255, 255, 0.8);
            margin-bottom: 25px;
        }

        .info-wrap .dbox:last-child {
            margin-bottom: 0;
        }

        .info-wrap .dbox p {
            margin-bottom: 0;
        }

        .info-wrap .dbox p span {
            font-weight: 500;
            color: #fff;
        }

        .info-wrap .dbox p a {
            color: #fff;
        }

        .info-wrap .dbox .icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid rgba(255, 255, 255, 0.356);
        }

        .info-wrap .dbox .icon span {
            font-size: 20px;
            color: #fff;
        }

        .info-wrap .dbox .text {
            width: calc(100% - 50px);
        }

        .form-control {
            height: 36px;
            background: #fff;
            color: rgba(0, 0, 0, 0.8);
            font-size: 16px;
            border-radius: 2px;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }

        .form-control::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: rgba(0, 0, 0, 0.3) !important;
        }

        .form-control::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(0, 0, 0, 0.3) !important;
        }

        .form-control:-ms-input-placeholder {
            /* IE 0+ */
            color: rgba(0, 0, 0, 0.3) !important;
        }

        .form-control:-moz-placeholder {
            /* Firefox 18- */
            color: rgba(0, 0, 0, 0.3) !important;
        }

        .form-control:focus,
        .form-control:active {
            border-color: #01d28e !important;
        }

        textarea.form-control {
            height: inherit !important;
        }

        .contactForm .label {
            color: #000;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
        }

        .contactForm .form-control {
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding: 0;
        }

        .container {
            padding: 0px 20px;
        }

        .btn:hover {
            background-color: #03a46e !important;
        }
    </style>

    <body>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 mb-5">
                        <h2 class="heading-section">Contact Us</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="wrapper">
                            <div class="row no-gutters">
                                <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                                    <div class="contact-wrap w-100 p-md-5 p-4">
                                        <h3 class="mb-4">Get in touch</h3>
                                        <div id="form-message-warning" class="mb-4"></div>
                                        <div id="form-message-success" class="mb-4">

                                        </div>
                                        <form action="" onsubmit="return handlesubmit()" method="" id="contactForm"
                                            name="contactForm" class="contactForm">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="name">Full Name</label>
                                                        <input type="text" class="form-control" name="name" id="name"
                                                            placeholder="Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="email">Email Address</label>
                                                        <input type="email" class="form-control" name="email" id="email"
                                                            placeholder="Email">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="subject">Subject</label>
                                                        <input type="text" class="form-control" name="subject"
                                                            id="subject" placeholder="Subject">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="#">Message</label>
                                                        <textarea name="message" class="form-control" id="message"
                                                            cols="30" rows="4" placeholder="Message"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="submit" value="Send" class="btn mt-5"
                                                            style="background-color: #01d28e; color: #fff;">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-5 d-flex align-items-stretch">
                                    <div class="info-wrap bg-primary1 w-100 p-md-5 p-4">
                                        <h3>Let's get in touch</h3>
                                        <p class="mb-4">We're open for any suggestion or just to have a chat</p>
                                        <div class="dbox w-100 d-flex align-items-start">
                                            <div class="icon d-flex align-items-center justify-content-center">
                                                <span class="fa fa-map-marker"></span>
                                            </div>
                                            <div class="text pl-3">
                                                <p>
                                                    <span>Address:</span> Bargain, Near V-Mart Bariatu Road Ranchi
                                                    834009
                                                </p>
                                            </div>
                                        </div>
                                        <div class="dbox w-100 d-flex align-items-center">
                                            <div class="icon d-flex align-items-center justify-content-center">
                                                <span class="fa fa-phone"></span>
                                            </div>
                                            <div class="text pl-3">
                                                <p><span>Phone:</span> <a href="tel://7635097382">+917635097382</a></p>
                                            </div>
                                        </div>
                                        <div class="dbox w-100 d-flex align-items-center">
                                            <div class="icon d-flex align-items-center justify-content-center">
                                                <span class="fa fa-paper-plane"></span>
                                            </div>
                                            <div class="text pl-3">
                                                <p><span>Email:</span> <a
                                                        href="mailto:apv967@gmail.com">apv967@gmail.com</a></p>
                                            </div>
                                        </div>
                                        <div class="dbox w-100 d-flex align-items-center">
                                            <div class="icon d-flex align-items-center justify-content-center">
                                                <span class="fa fa-globe"></span>
                                            </div>
                                            <div class="text pl-3">
                                                <p><span>Website: </span> <a
                                                        href="ajayprasadverma.github.io/ajay/">ajayprasadverma.com</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>

            function handlesubmit() {
                return inputvalidation();
            }


            let valid = true;
            function inputvalidation() {

                const input = document.getElementsByTagName("input");
                const textarea = document.getElementsByTagName("textarea");

                const allfield = [...input, ...textarea];

                const form = document.getElementsByClassName("form-control");

                for (let i = 0; i < allfield.length; i++) {
                    if (allfield[i].value == "") {
                        allfield[i].style.borderColor = "red";
                        valid = false;
                    } else {
                        allfield[i].style.borderColor = "";
                        valid = true;
                    }
                }

                return (valid) ? true : false;
            }
        </script>
    </body>

    </html>