<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="signup.css"> -->

    <script src="https://kit.fontawesome.com/32612e0eeb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"> </script>
    <title>Document</title>
</head>
<style>
    * {
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background-image: repeating-linear-gradient(90deg, white, white);
    }

    .prnt-heading {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5px 0px;
        border: 0.12em solid black;
    }

    .prnt-title {
        padding-left: 5px;
    }

    .caption {
        text-align: center;
    }

    .print-table {
        width: 100%;
    }

    .table-container {
        margin-top: 15px;
    }

    .print-table,
    tr,
    td,
    th {
        border: 0.12em solid #256a98;
        padding: 5px 0px;
    }

    .table-heading {
        text-align: center;
    }

    .content {
        padding: 5px 10px;
        color: #0694f3;
    }

    .content1 {
        width: 20%;
        padding-left: 10px;
        color: #0694f3;
        font-weight: 600;
    }

    .content2 {
        width: 70%;
        padding-left: 10px;
    }

    .footer {
        text-align: center;
        margin-top: 10px;
    }
</style>
</head>

<body>
    <div class="prnt-heading" style="background-color: #ffffff;">
        <div>
            <img class="img-responsive" src="/image/c-logo1.png" alt="logo" width="110">
        </div>
        <div class="prnt-title">
            <h1 class="fs-4" style="margin: 0px;">APNA COLLEGE</h1>
            <p style="margin: 0px;">Online Common Application FORM :: Session</p>
            <p style="margin: 0px;">Application No:
        </div>
    </div>
    <div class="table-container ">
        <table class="print-table">
            <thead>
                <tr>
                    <th colspan="6" class="table-heading">PEESONAL INFORMATION</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="content1">Name: </td>
                    <% function mName(){ const middle=details.mName; if(middle !="" ){ return middle }else{ return null
                        } } %>
                        <td class="content2 row" colspan="4">
                            <%= details.fName %>
                                <%= mName() %>
                                    <%= details.lName %>
                        </td>
                        <td rowspan="7">
                            <img src="../../upload/1683630634743Image 14.jpg" alt="" width="150" height="190">
                            <img src="../../upload/1683630055638signature.jpg" alt="" width="150" height="50">
                        </td>
                </tr>
                <tr>
                    <td class=" content1">Father' s Name: </td>
                    <td class="content2 " colspan="4">
                        <%= details.fatherName %>
                    </td>
                </tr>
                <tr>
                    <td class="content1">Email: </td>
                    <td class="content2 " colspan="4">
                        <%= details.emailId %>
                    </td>
                </tr>
                <tr>
                    <td class="content1 column">Mobile No.: </td>
                    <td class="content2 row" colspan="4">
                        <%= details.mobileNo %>
                    </td>
                </tr>
                <tr>
                    <td class="content1 column">Date of Birth: </td>
                    <td class="content2 dob row" colspan="4">
                        12/45/67
                    </td>
                </tr>
                <tr>
                    <td class="content1 column">Category: </td>
                    <td class="content2 row" colspan="4">
                        <%= details.cast %>
                    </td>
                </tr>
                <tr>
                    <td class="content1 column">Gender: </td>
                    <td class="content2 row" colspan="4">
                        <%= details.gender %>
                    </td>
                </tr>
                <tr>
                    <td class="content1 column">Address Line1: </td>
                    <td class="content2 row" colspan="5">
                        <%= details.addressLine1 %>
                    </td>
                </tr>
                <tr>
                    <td class="content1 column">Address Line2: </td>
                    <td class="content2 row" colspan="5">
                        Vill-Natand, post - baddiha1, block- jamua, state - jharkhand
                        Address Line2: bratu ranchi jharkhand
                    </td>
                </tr>
                <tr>
                    <td class="content column">Block: </td>
                    <td class="content" colspan="">
                        Jamua
                    </td>
                    <td class="content">District: </td>
                    <td class="content" colspan="">
                        Giridih
                    </td>
                    <td class="content">Pin Code: </td>
                    <td class="content" colspan="">
                        825214
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Academic details -->
        <table class="print-table" style="margin-top: 30px;">
            <thead>
                <tr>
                    <th style="width: 24%" colspan="5" class="table-heading">ACADEMIC DETAILS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="content">Last Pass Exam: </td>
                    <td class="content">
                        <%= details.lastPassedExam %>
                    </td>
                    <td rowspan="4"></td>
                    <td class="content">Registration No.</td>
                    <td class="content">
                        <%= details.registrationNo %>
                    </td>
                </tr>
                <tr>
                    <td class="content">University Name: </td>
                    <td class="content">
                        <%= details.universityNameLastPassed %>
                    </td>
                    <td class="content">Passing Year.</td>
                    <td class="content">
                        <%= details.passingYear %>
                    </td>
                </tr>
                <tr>
                    <td class="content">Subject Studied </td>
                    <td class="content">
                        <%= details.subjectStudied %>
                    </td>
                    <td class="content">CGPA : </td>
                    <td class="content">
                        <%= details.cgpa %>
                    </td>
                </tr>
                <tr>
                    <td class="content">Tolat Credit Secure on Subject : </td>
                    <td class="content">
                        <%= details.totalSecuredCredit %>
                    </td>
                    <td class="content">Tolat Subject Credit Score : </td>
                    <td class="content">
                        <%= details.totalCredit %>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Curren Application Details -->
        <table class="print-table" style="margin-top: 30px;">
            <thead>
                <tr>
                    <th class="table-heading">University Name</th>
                    <th class="table-heading">College Name</th>
                    <th class="table-heading">Stream</th>
                    <th class="table-heading">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="content">
                        <%= details.university %>
                    </td>
                    <td class="content">
                        <%= details.collegeName %>
                    </td>
                    <td class="content">
                        <%= details.stream %>
                    </td>
                    <td class="content">
                        <%= details.status %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align: center; margin-top: 10px;">
        <button class="print-btn btn btn-success" onclick="window.print()">Print</button>
    </div>
    <div class="footer">
        <p id="url" style="display: inline-block;"></p> &nbsp;&nbsp;&nbsp;&nbsp;
        <p id="time" style="display: inline-block;"></p>
    </div>

    <script>

        const date = new Date();

        const options = {
            hour12: true,
            timeZone: "Asia/Kolkata",
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
            hour: '2-digit', minute: '2-digit'
        };

        const formattedDate = date.toLocaleString('en-IN', options);
        document.getElementById("time").innerText = formattedDate;

        var currentUrl = window.location.href;
        document.getElementById("url").innerText = currentUrl;

        const dob = '<%= details.dateOfBirth %>';
        const dateObject = new Date(dob);
        const dateString = dateObject.toLocaleDateString('en-IN');

        document.querySelector(".dob").innerText = dateString;
    </script>
</body>

</html>