<!-- navbar1 start -->
<div id="disp1">
    <ul class="navbar-container">
        <li class="nav link ">
            <a class="" href="/" style="color: white" onclick="handleOnclick(this)">
                <i class="fa-solid fa-house"></i>&nbsp;Home</a>
        </li>
        <li class="nav link">
            <a class="" href="/university" style="color: white;" onclick="handleOnclick(this)">
                <i class="fa-solid fa-building-columns"></i>&nbsp;University</a>
        </li>
        <li class="nav link">
            <a class="" href="/collegelogin" style="color: white" onclick="handleOnclick(this)">
                <i class="fa-solid fa-building-columns"></i>&nbsp;Institute Login</a>
        </li>
        <li class="nav link">
            <a class="" href="#Notf" style="color: white" onclick="handleOnclick(3)">
                <i class="fa-solid fa-bell"></i>&nbsp;Notification</a>
        </li>
        <li class="nav link">
            <a class="" href="#Con" style="color: white" onclick="handleOnclick(4)">
                <i class="fa-solid fa-envelope"></i>&nbsp;Contact Us</a>
        </li>
    </ul>
</div>
<!-- navbar1 end -->
<!-- navbar2 start -->
<div id="disp2">
    <div class="icon-container">
        <div id="icon"><i class="fa-solid fa-bars fa-xl"></i></div>
    </div>
    <div id="navToggle">
        <div class="p-2">
            <ul class="nav-container">
                <li class="nav item">
                    <a class="active" href="/" style="color: white" onclick="handleOnclick(0)">
                        <i class="fa-solid fa-house"></i>&nbsp;Home</a>
                </li>
                <li class="nav item">
                    <a class="" href="/university" style="color: white;" onclick="handleOnclick(1)">
                        <i class="fa-solid fa-building-columns"></i>&nbsp;University</a>
                </li>
                <li class="nav item">
                    <a class="" href="/collegelogin" style="color: white" onclick="handleOnclick(2)">
                        <i class="fa-solid fa-building-columns"></i>&nbsp;Institute Login</a>
                </li>
                <li class="nav item">
                    <a class="" href="#Notf" style="color: white" onclick="handleOnclick(3)">
                        <i class="fa-solid fa-bell"></i>&nbsp;Notification</a>
                </li>
                <li class="nav item">
                    <a class="" href="#Con" style="color: white" onclick="handleOnclick(4)">
                        <i class="fa-solid fa-envelope"></i>&nbsp;Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- navbar2 ens -->